<h1>{{header_title}}</h1>
<!DOCTYPE html>
<html>
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Address</th>
    <th>Company</th>
    <th>Company Type</th>
  </tr>
  <tr *ngFor="let post of posts">
        <td>{{post.name}}</td>
        <td>{{post.website}}</td>
        <td>{{post.address.street}},{{post.address.suite}},{{post.address.city}},{{post.address.zipcode}} </td>
        <td>{{post.company.name}}</td>
        <td>{{post.company.bs}}</td>
      </tr>
</table>